<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="position: relative; height: 100%;">
        <div id="container"
             style="position: absolute; left: 10px; height: 400px; width: 600px; border: 1px solid black;"></div>
        <div id="container_1"
             style="position: absolute; left: 620px; height: 400px; width: 600px; border: 1px solid black"></div>
    </div>


    <!-- <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/jquery"></script> -->
    <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.1/dist/echarts.min.js"></script>
    <script type="text/javascript">
        var dom = document.getElementById('container');
        var myChart = echarts.init(dom, null, {
            renderer: 'canvas',
            useDirtyRect: false
        });
        var app = {};

        var option;

        option = {
            xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    data: [150, 230, 224, 218, 135, 147, 260],
                    type: 'line'
                }
            ]
        };

        if (option && typeof option === 'object') {
            myChart.setOption(option);
        }

        window.addEventListener('resize', myChart.resize);

        //-----------------------------------------------------------------------------------------------------------------------------

        var chartDom = document.getElementById('container_1');
        var myChart_1 = echarts.init(chartDom, null, {
            renderer: 'canvas',
            useDirtyRect: false
        });
        var app = {};

        var option_1;

        option_1 = {
            title: {
                text: 'Referer of a Website',
                subtext: 'Fake Data',
                left: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                orient: 'vertical',
                left: 'left'
            },
            series: [
                {
                    name: 'Access From',
                    type: 'pie',
                    radius: '50%',
                    data: [
                        { value: 1048, name: 'Search Engine' },
                        { value: 735, name: 'Direct' },
                        { value: 580, name: 'Email' },
                        { value: 484, name: 'Union Ads' },
                        { value: 300, name: 'Video Ads' }
                    ],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };

        if (option_1 && typeof option_1 === 'object') {
            myChart_1.setOption(option_1);
        }

        myChart_1.on('click', function (params) {
            // 控制台打印数据的名称
            console.log(params.name);
        });

        window.addEventListener('resize', myChart_1.resize);
    </script>
</body>

</html>